{% extends 'base.html' %}
{% block title %} {{ object.surname }} {% endblock %}

{% block content %}

<table border="1" width="300">
    <col style="background-color: bisque">
    <tbody>
    <tr>
        <th>Имя</th><td>{{ object.name }}</td>
    </tr>
    <tr>
        <th>Фамилия</th><td>{{ object.surname }}</td>
    </tr>
    <tr>
        <th>Дата рождения</th><td>{{ object.birthdate }}</td></tr>
    </tbody>
</table>

<br>

<table>
    <thead>
        <th>Дата</th><th>Фамилия преподавателя</th><th>Оценка</th>
    </thead>
    <tbody>
    {% for mark in object.st_marks.all %}
        <tr>
            <td>{{ mark.date }}</td>
            <td>{{ mark.teacher }}</td>
            <td>{{ mark.value }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}